.App {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  font-size: 16px;
  scroll-margin-top: 0;
}

.App > img {
  z-index: 999;
}

.main {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.title {
  background: rgba(57, 91, 169, 1);
  border-radius: 0px 0px 88px 88px;
  display: flex;
  justify-content: center;
  width: 18rem;
  height: 3rem;
  position: sticky;
  top: 0px;
  z-index: 999;
}

.title > span {
  font-size: 2.2rem;
  color: #ffcc04;
  text-shadow: 3px 4px 5px rgba(201, 161, 1, 1);
}

.input {
  align-self: flex-start;
  /* margin: 3rem; */
  display: flex;
  flex-direction: column;
  position: sticky;
  top: 0px;
  background-color: #fff;
  /* border-radius: 44px; */
  z-index: 99;
  width: 100%;
  padding: 1rem;
  padding-top: 2rem;
}

.input > input {
  width: 24rem;
  border: 0;
  border-left: 2px solid rgba(57, 91, 169, 1);
  border-bottom: 2px solid rgba(57, 91, 169, 1);
  outline: 0;
  height: 2rem;
  font-size: 1.5rem;
}

.input > input:focus {
  border: 0;
  border-left: 2px solid rgba(57, 91, 169, 1);
  border-bottom: 2px solid rgba(57, 91, 169, 1);
}

.input > label {
  background-color: rgba(57, 91, 169, 1);
  border-radius: 44px 44px 44px 0px;
  color: rgba(255, 204, 4, 1);
  font-size: 1.2rem;
  width: 13rem;
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-shadow: 1px 2px 3px rgba(201, 161, 1, 1);
}
.battle-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.back {
  position: absolute;
  width: 50rem;
  left: 0;
  top: 0;
}

.arena {
  z-index: 9;
}

.volver-btn {
  border-color: rgba(57, 91, 169, 1);
  width: 8rem;
  height: 2rem;
  border-radius: 10px;
  background-color: transparent;
  color: rgba(57, 91, 169, 1);
  font-size: 1.3rem;
  cursor: pointer;
  z-index: 999;
}

.volver-btn:hover {
  background-color: rgba(57, 91, 169, 1);
  color: white;
}
.card-container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

img {
  position: sticky;
  top: 0;
}
